.completed{
    text-decoration: line-through;
    font-size: 16px;
    font-weight: bold;
    font-family: 'Times New Roman', Times, serif;    
    margin: 10px;
    color: rgb(66, 27, 27);
}

.not-completed{
    font-size: 16px;
    font-weight: bold;
    font-family: 'Times New Roman', Times, serif;    
    margin: 10px;
}

.list-item{
    background-color: rgb(245, 223, 195);
    width: 95%;
    margin: 10px;
    border-radius: 12px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    
}

.list-bitton{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 10px;
}

.button{
    background-color: rgb(156, 156, 247);
    height: 25px;
    border-radius: 12px;
}